.avatar-account-container{
    display: flex;
    padding: 50px 372px 50px 112px;
    width: 957px;
    height: 215px;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 8px;
}
.avatar-account-container .account-info{
    display: none;
}
.avatar-account-container .avatar{
    width: 115px;
    height: 115px;
    font-size: 64px;
    margin-right: 37px;
}
