/* wrapper cho box-sort */
.box-sort-wrapper {
    position: relative;
    display: inline-flex;
    
}

/* title of box-sort */
.box-sort-title-wrapper {
    display: flex;
    cursor: pointer;
    width: 280px;
    justify-content: flex-end;
}

/* icon */
.box-sort-title-icon {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/* title */
.box-sort-title {
    font-size: var(--font-size-normal);
    color: var(--primary-color);
}

.box-sort {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 0px 4px 8px var(--background-color);
    border-radius: 8px;
    z-index: 10;
    overflow: hidden;
}

/* danh sách các mục trong box-sort */
.list-items {
    display: flex;
    flex-direction: column;
}

.search_suggestion_line {
    cursor: pointer;
}

.search_suggestion_line:hover {
    background-color: var(--light-background-color-2);
    border-radius: 8px;
}
