.exam-details-container {
  width: 1174px;
  /* height: 245px; */
  background-color: var(--white-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.exam-details-wrapper{
  width: 100%;
  padding-top: 28px;
  padding-bottom: 37px;
  padding-left: 142px;
  padding-right: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-exam{
  font-size: 20px;
  margin-bottom: 20px;
}
.exam-details-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.exam-details-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.exam-details-info {
  display: flex;
  flex-direction: row;
  line-height: 28px;
  margin-bottom: 10px;
}
.exam-details-value {
  margin-left: 4px
}
