.custom-download-button {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    background-color: none;
    color: var(--black-color);
}
.custom-download-button:hover {
    color: var(--success-color);
    cursor: pointer;
}

.icon {
    margin-right: 10px;
    font-size: 25px;
}
  