.edit-question{
    width: 1174px;
    height: fit-content;
    background-color: var(--white-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    padding: 30px;
}
.title-edit-question{
    text-align: center;
    font-size: 20px;
}
.download-exam{
    display: flex;
    justify-content: space-between;
    width: 1174px;
    margin-left: 24px;
    margin-right: 24px
}
.detail-exam {
    width: 1174px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    gap: 16px
}
.edit-question-space {
    height: 30px;
}