.infor-account-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-radius: 8px;
    padding: 14px 0px 14px 10px;
    width: 957px;
    background-color: var(--white-color);
    font-size: var(--font-size-normal);
    margin-left: 144px;
    margin-top: 10px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 10px;
    margin-left: 10px;
}

.icon {
    font-size: 1.2rem; /* Điều chỉnh kích thước icon theo ý muốn */
}

.value-container {
    text-align: left;
    padding-left: 90px;
}

.link-container {
    text-align: left;
    padding-left: 200px;
}
