.label-text-input {
    margin-bottom: 16px;
}

.text-input-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: var(--primary-color);
}

.text-input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.text-input {
    width: 100%;
    padding: 8px 40px 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    transition: border-color 0.3s ease; 
}

.text-input.hover,
.text-input:focus {
    border-color: #3E78FF;
    outline: none;
    padding: 8px 40px 8px 12px;
}

.toggle-password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #888;
    transition: color 0.3s ease;
}

.toggle-password-icon:hover {
    color: #3E78FF; 
}
