.input-form-password-label {
    display: block;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.input-form-password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
}

.input-form-password {
    width: 100%;
    padding: 8px 40px 8px 12px;
    font-size: 16px;
    border: 1px solid var(--secondary-color); 
    border-radius: 8px;
    transition: border-color 0.3s ease; 
}

.input-form-password:hover,
.input-form-password:focus {
    border-color: var(--link-color);
    outline: none;
    padding: 8px 40px 8px 12px;
}

.toggle-password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.toggle-password-icon:hover {
    color: var(--link-color); 
}
