.input-form-password-label {
    display: block;
    margin-bottom: 8px;
    color: var(--primary-color);
}

.input-form-password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-form-password {
    width: 100%;
    padding: 6px 40px 6px 10px;
    font-size: var(--font-size-normal);
    border: 0.5px solid var(--secondary-color); 
    background-color: var(--foreground-color);
    border-radius: 8px;
    transition: border-color 0.3s ease; 
}
.input-form-password-container input::placeholder{
    font-weight: var(--font-weight-light);
    color: var(--secondary-color);
}
.input-form-password-container:hover input::placeholder{
    color: var(--link-color);
}

.input-form-password:hover,
.input-form-password:focus {
    background-color: var(--white-color);
    border-color: var(--link-color);
    background-color: var(--white-color);
    outline: none;
    padding: 6px 40px 6px 10px;
}

.toggle-password-icon {
    position: absolute;
    right: 10px;
    display: flex;
    justify-items: center;
    cursor: pointer;
    font-size: 18px;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

.toggle-password-icon:hover {
    color: var(--link-color); 
}

input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear {
    display: none;
}


.error-message {
    color: var(--warning-color);
}