.link {
<<<<<<< HEAD
=======
    font-size: 16px;
    color: var(--black-color);
>>>>>>> main
    transition: color 0.2s ease;
    color: var(--primary-color);
    cursor: pointer; 
}

.link:focus {
    outline: none;
}

.link:hover {
    color: var(--link-color);
    transition: color 0.2s ease;
}

.link:active {
    color: var(--link-color);
}
