.list-items {
    width: 280px;
    margin-top: 5px;
    padding: 12px;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border-radius: 8px;
    border: 1px solid var(--black-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--white-color);
  }
  
  .search_suggestion_line {
    width: 220px;
    height: 28px;
    text-decoration: none;
    color: var(--primary-color);
    text-align: left; 
  }
  
.button.active { 
  color: var(--primary-color);
}
