.login-page-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #BBCFFF, #254D8A);
    align-items: center;
    justify-content: center;
}
.title_login {
    font-size: 25px;
    color: var(--primary-color); 
    text-align: center;
    margin-bottom: 20px;
}
.login-left {
    color: var(--white-color);
    width: 430px;
    height: 437px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input_name{
    margin-bottom: 8px;
}
.login-right {
    background-color: var(--white-color);
    padding: 40px;
    width: 430px;
    height: 437px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.login-image {
    width: 430px;
    height: 437px;
}

.options-Row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.options-Row .checkbox-label {
    color: rgba(0, 0, 0, 0.5); 

}

.options-Row a {
    color: rgba(0, 0, 0, 0.5); 
    font-size: 14px;
    padding-top: 5px;
}

.register-options p {
    color: var(--black-color); 
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    margin-top: 5px;
}
.register-options a {
    color: var(--black-color); 
    font-size: 14px;
    text-align: center;
}

.register-options {
    display: flex;
    align-items: center;
    gap: 5px;
}

.loginWithGg{
    margin-bottom: 8px;
}

.no-account-text {
    margin: 0;
    font-size: 14px;
}

.register-link {
    color: var(--link-color); 
    font-size: 14px; 
    cursor: pointer;
    margin: 0;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline; 
    color: var(--link-color);
}
