.navbar-homepage-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

.logo-icon{
    margin-left: 40px;
}
.navbar-homepage-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
}
.noti-results-container {
    position: absolute;
    top: 40px;
    right: 10px;
}