.navbar-account-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-account-line {
    /* margin: 0; */
    background-color: var(--primary-color);
}