.Post{
    width: 1147px;
    height: fit-content;
    background-color: var(--white-color);
    border-radius: 8px;
    border: 1px solid var(--black-color);
    padding: 40px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 30px;
}
.post-image{
    width: 527px;
    height: 161px;
    margin-top: 10px;
}
.content{
    font-size: 14px;
    margin-top: 10px;
}
.time{
    font-size: 14px;
    opacity: 0.5;
    margin-top: 10px;
}
.action-row {
    display: flex;
    gap: 20px; 
    align-items: center; 
    margin-top: 10px;
}
.action-row .link_Cmt{
    font-size: 14px;
}
.action-row .link_Report{
    font-size: 14px;
}

.link_Cmt:hover {
    color: var(--link-color); 
    cursor: default;
}

.link_Report:hover {
    cursor: default;
    color: var(--link-color);
}
