.search_section {
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.search_input_div {
  width: 280px;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black-color);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.search_input {
  flex: 1;
  color: var(--primary-color);
  border: none;
  outline: none;
  background: none;
  font-size: 16px;

}
.search_input::placeholder {
  color: var(--primary-color);
}

.search_icon {
  padding: 5px 10px 10px 16px;
  color: var(--primary-color);
  cursor: pointer;
}
.search_input_div:hover{
  border: 1px solid var(--link-color);
}
