.text-input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 8px;
    font-size: 16px; 
    transition: border-color 0.2s ease; 
}
.text-input.hover{
    border: 1px solid #3E78FF;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.text-input:focus {
    border-color: #3E78FF; 
    outline: none;
    border-radius: 8px;
    padding: 10px;
}

.text-input::placeholder {
    color: #aaa; 
}

.label-text-input{
    font-weight: bold;
}