.title-text-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

.title {
    padding-right: 1%;
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
}
