/* toàn bộ textInput title */
.text-input-title-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* margin-bottom: 10px; */
}
/* //Title */
.title {
    padding-right: 17px;
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-normal);
}
/* //input */
.text-input-title .text-input-wrapper {
    border-color: var(--secondary-color);
    width: 280px; /*chiều dài input*/
}

.text-input-title .text-input-wrapper:hover {
    border-color: var(--link-color);
    width: 280px; /*chiều dài input*/
}
.text-input-title .text-input-wrapper::focus {
    border-color: var(--link-color)!important;
    width: 280px; /*chiều dài input*/
}
.text-input-title .text-input-wrapper .text-input::placeholder{
    font-size: var(--font-size-small);
    font-weight:  var(--font-weight-light);
    color: var(--primary-color);
    transform-origin: left center;
}
.text-input-title .text-input-wrapper:hover .text-input::placeholder{
    font-size: var(--font-size-small);
    font-weight:  var(--font-weight-light);
    color: var(--link-color);
    transform-origin: left center;
}
.text-input-title .text-input-wrapper:focus .text-input::placeholder{
    font-size: var(--font-size-small);
    font-weight:  var(--font-weight-light);
    color: var(--link-color);
    transform-origin: left center;
}
.text-input-title .text-input {
    font-size: var(--font-size-small);
    height: 33px;
    width: 245px;
}